{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block title%}
Editor de Carnes
{%endblock%}

{%block text%}
{%if request.user.is_superuser%}

<h1 style="text-align:center ;margin-top: 3rem;">Carnes</h1>
<div class="container" style="align-items:center ; max-width:900px ;">
<form action="" method='POST' enctype="multipart/form-data" style="margin-left: 35% ; margin-top: 7%; margin-bottom: 10%; ">
    {% csrf_token %}

    {{form | crispy}}

    <button type="submit" class="btn btn-primary">Enviar</button>
    <input type="button" value="Volver"  onclick="history.back()">
</form>
</div>
{%else%}
<meta http-equiv="refresh" content="0.2; URL=/user/login" />
{%endif%}
{% endblock %}
<meta http-equiv="refresh" content="0.2; URL=history.back()" />