{% extends 'base.html' %}

{% block title%}

Alimentos

{% endblock %}

{%block text%}

<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
{% for i in list %}
            
            <div class="col" style= "margin-top:-5%; margin:2%">
                <div class="card h-100 shadow-sm" > 
                    
                    {% if i.image %} 
                    <img
                        src='{{i.image.url}}'
                        class="card-img-top" alt="" >
                    {% else %}
                        <img
                        src='https://media.discordapp.net/attachments/1004393238276362365/1005986351855964250/coderhouse-logo.png'
                        class="card-img-top" alt="" >
                    {% endif %}
                    
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span>
                                <h1>{{i.name}}</h1>
                            </span> <span class="float-end price-hp">
                                <br>&dollar;{{i.price}}</span> </div>
                                <h5 class="card-title">{{i.description}}</h5>
                        <h5 class="card-title">stock: {{i.stock}}</h5>
                        <h5 class="card-title">sku: {{i.sku}}</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Comprar</a> </div>
                        {% if request.user.is_superuser %}
                        <div class="text-center my-4"> <a href="/meat/edit-meats/{{i.id}}" class="btn btn-warning">Editar</a> </div>
                        <div class="text-center my-4"> <a href="/meat/delete-meats/{{i.id}}" class="btn btn-warning">Borrar</a> </div>
                        {% endif %}
                        <div class="text-center my-4"> <a href="/meat/detail-meats/{{i.id}}" class="btn btn-warning">Mas informacion</a> </div>
                    </div>
                </div>
            </div>

       
{% endfor %}
 </div>
</div>

</main>



{% endblock %}