{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block title%}
Borrar Bebidas
{%endblock%}

{%block text%}

<h1 style="text-align:center ;margin-top: 3rem;">Seguro que quieres eliminar {{product.name}}???</h1>

<form action="" method='POST' style="margin-left: 35% ; margin-top: 7%; margin-bottom: 10%; ">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" onClick="javascript: return confirm('¿Estas seguro?');">Borrar</button>
    <input type="button" value="Volver"  onclick="history.back()">
</form>

{% endblock %}