{% extends 'base.html' %} 
{%block title%} 
Sobre Nosotros 
{%endblock%} 
{%block link%}
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  html {
    box-sizing: border-box;
  }

  :before,
  *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    /* padding: 0 8px; */
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  /* .container {
    padding: 0 16px;
  } */

  .container::after,
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
</style>
{%endblock%} 
{%block text%}

<div class="about-section">
  <h1>Sobre Nosotros</h1>
  <p>
    Este equipo esta conformado por 3 estudiantes de coderhouse, por el cual desarrollamos el sitio web en base a conocimientos aprendidos en python aplicando django rest framework, CSS, HTML y bootstrap 
  </p>
</div>

<h2 style="text-align: center">Nuestro Equipo</h2>
<div>
  <div class="column">
    <div class="card">
      <center>
        <img
          src="https://cdn.discordapp.com/attachments/1004393238276362365/1015768727398137896/lucasB.png"
          alt="Lucas"
          style="width: 50%"
        />
      </center>
      <div class="container">
        <h2>Lucas Badino</h2>
        <p class="title">CEO & Fundador</p>
        <p class="title">Python, Django, CSS, HTML, Bootstrap</p>
        <p>Yo, Lucas Badino, soy co-fundador y co-desarollador de la pagina web CoderStore, actualmente estudiante de coderhouse en python enfocado a desarrollo back-end con django rest framework y conocimientos de Bootstrap HTML y CSS  </p>
        <p>Email: lucas.badino.7@gmail.com</p>
        <p><button class="button"><a class="button"href="/contact/contact">Contacto</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <center>
        <img src="https://cdn.discordapp.com/attachments/1004393238276362365/1016392800239112254/unknown.png" alt="Lucila" style="width: 50%" />
      </center>
      <div class="container">
        <h2>Lucila Werner</h2>
        <p class="title">CEO & Fundador</p>
        <p class="title">Python, Django, CSS, HTML, Bootstrap</p>
        <p>Soy Lucila Werner, <b>CEO y Co-fundador de la pagina CoderStore</b>. Actualmente me encontraran estudiando la carrera de Fullstack en Coderhouse, con conocimientos en <b>Python</b> por el lado del Back-end y <b>Html</b> con <b>Bootstrap</b> por el lado del Front-end.</p>
        <p>Email: lulikwerner@gmail.com</p>
        <p><button class="button"><a class="button"href="/contact/contact">Contacto</a></button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <center>
        <img
          src="https://cdn.discordapp.com/attachments/1004393238276362365/1015771100803760248/Nuevo_proyecto_1.png"
          alt="Lucas"
          style="width: 50%"
        />
      </center>
      <div class="container">
        <h2>Lucas Castiglioni</h2>
        <p class="title">CEO & Fundador</p>
        <p class="title">Python, Django, CSS, HTML, Bootstrap</p>
        <p>Soy Lucas Castiglioni, <b>CEO y Co-fundador de la pagina CoderStore</b>. Actualmente me encontraran estudiando desarrollo web en Coderhouse, con conocimientos en <b>Python</b> por el lado del Back-end y <b>Html</b> con <b>Bootstrap</b> por el lado del Front-end.</p>
        <p>Email: castiglionidamian@gmail.com</p>
        <p><button class="button"><a class="button"href="/contact/contact">Contacto</a></button></p>
      </div>
    </div>
  </div>
</div>
<center>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26240.403405858822!2d-58.30931640079817!3d-34.70390806030781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a331fdc70bdd5d%3A0x6c702cf3f15dabac!2sBernal%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1662249949157!5m2!1ses!2sar"
    width="100%"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</center>
{%endblock%}
