{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block link %}

  {%endblock%}

  <link type="text/css" href="{% static '/css/style.css' %}" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>
    {% block title %}

    {%endblock%}
  </title>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CoderStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;margin-right: 0%;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/meat/meats/">Carnes</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/drink/drinks/">Bebidas</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/bakery/bakeries/">Panaderia</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Creacion
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/meat/create-meats/">Carnes</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/drink/create-drinks/">Bebidas</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/bakery/create-bakeries/">Panaderia</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="#" style="margin-right: 34rem">Contacto</a></li>


        {% if request.user.is_authenticated %}

        <div id="container">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" style="margin-left:180% " >
              Perfil
            </a>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" href="#">Mas info</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/user/logout/">Logout</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
          </li>
          {% else %}
          <li class="nav-item"> <a class="nav-link" href="/user/login/">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/user/register/">Singup</a></li>


          {%endif%}
        </div>
        </ul>
      </ul>
      <form class="d-flex" action="/search/" method="GET" >
        <input class="form-control mr-2" type="search" placeholder="Buscar" aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="search">Buscar</button>

      </form>

    </div>
  </nav>
  <div class="cater3-movingBG">
    <div class="flyinTxtCont">
      <div class="flyIn lineOne">Coder</div>
      <div class="flyIn lineTwo">Store </div>
    </div>
  </div>

  {%block text%}

  {%endblock%}
  <footer class="bg-light text-center text-white" style="margin: bottom 100px;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
            class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
            class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
            class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i
            class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

      <h1 style="color:black ; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;">
        CoderStore</h1>
    </div>
    <!-- Copyright -->
  </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</html>