{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block link %}
{%endblock%}


{% block title %}
Contacto
{% endblock %}

{%block text%}
 
    <form action="" method='POST' enctype="multipart/form-data"
    style="margin-left: 35% ; margin-top: 7%; margin-bottom: 10%; margin-right: 35%">
    {% csrf_token %}

    {{form | crispy}}
        <button type="submit" class="btn btn-primary" onClick="javascript: return confirm('Desas enviar el comentario');">Enviar</button>
    </form>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.574189532703!2d-58.273959585191214!3d-34.71591847094955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e0f9db31359%3A0xe1e215681df12aae!2sAv.%20Vicente%20L%C3%B3pez%2025%2C%20Quilmes%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1662296722808!5m2!1ses!2sar" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{%endblock%}