{% extends 'base.html' %}
    {% block titulo %}
        Busqueda Producto
    {% endblock %}

    {%block texto%}

    {% for i in carne %}

    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsxEhBkcCRuZf2eyX6tRPlFPirmBcAfZhyvw&usqp=CAU" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">Precio: {{i.price}}</p>
            <p class="card-text">Stock: {{i.stock}}</p>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    {% endfor %}

{%endblock%}