{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block title%}
Iniciar sesión
{%endblock%}

{%block text%}



<form action="" method='POST' style="padding:2%; margin: auto;max-width: 500px; ">
    {% csrf_token %}
    
        {{form | crispy}}

    {%if request.GET.next%}
        <input type="hidden" name="next" value="{{request.GET.next}}">
    {%endif%}    
    <center><button type="submit" class="btn btn-primary">Iniciar Sesion</button>
    <div style="margin-top: 10px;"> <a href="/user/register/" class="btn btn-success">registrar</a></div></center>
</form>
{% if error %}
<p style="color: red;">{{error}}</p>
{% endif %}
{% endblock %}
